# gradle

.gradle/
build/
out/
classes/

private.gradle

# eclipse

*.launch

# idea

.idea/
*.iml
*.ipr
*.iws

# vscode

.settings/
.vscode/
bin/
.classpath
.project

# naughty filesystems

*.DS_Store
.directory

# fabric

run/
